<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/img/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Adam Kauan</title>
</head>
<body>

  <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="profile">
            <img src="../static/img/profile.png" alt="Foto do Adam">
            <h1>Adam Kauan</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/adam-kauan-00a42a282">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/AdamKauan">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://wa.me/<5561996016532>">
                    <i class="bi bi-whatsapp"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i>Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades"><i class="bi bi-list-ul"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark-text"></i> Currículo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#portifolio"><i class="bi bi-easel2"></i> Portifólio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contato</a>
                  </li>
              </ul>
        </nav>
    </aside>

    <main id="main">
        <div class="login-container">
            <a href="/login" class="btn btn-primary">Login</a>
        </div>
      
    <section id="inicio" class="row m-0 p-0">
        <div class="col-md-7 d-flex justify-content-center align-items-center flex-column ps-lg-5">
            <h2 class="text-white text-shadow">Adam Kauan</h2>
            <span id="subtittle" class="text-white text-shadow">Desenvolvedor Fullstack<span>     
        </div> 

        <div class="col-md-12 d-flex justify-content-end align-items-end">
            <div id="arraste" class="d-flex align-items-center">
                 <i class="bi bi-arrow-down text-white pe-2 fs-2"></i>
                 <a href="#sobre">Arraste para mais</a>
            </div>
        </div>
    </section>

    <section class="container mt-5" id="sobre">
        <div class="row w-100">
            <div class="col-md-12" data-anime="down">
                <h2 class='pt-3'>Sobre</h2>
                <p>Com uma curiosidade inata e uma trajetória predominantemente autodidata, desenvolvi um nível avançado de inglês de forma independente, refletindo meu entusiasmo constante pelo aprendizado. Desde a infância, sou movido por uma sede insaciável de conhecimento, especialmente na tecnologia.</p>

                <p>A tecnologia não é apenas uma área de interesse para mim; ela é uma parte integrante da minha vida. Influenciado pelo meu pai, um engenheiro de dados com mais de duas décadas de experiência, cresci imerso em um ambiente que naturalmente cultivou meu fascínio pelo campo de TI. As lições que ele compartilhou ao longo dos anos não apenas enriqueceram meu entendimento, mas também aguçaram meu desejo de seguir uma carreira em tecnologia da informação.</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4">
                 <img class="img-fluid shadow" src="../static/img/Foto perfil2.jpg" alt="Foto do Adam" data-anime="left">
            </div>
            <div class="col-md-8 mt-2" data-anime="right">
                <h3>Desenvolvedor Fullstack</h3>
                <p>Minha jornada como dev começou do jeito clássico: encarando o mundo colorido do Front-End, onde aprendi a criar interfaces que não só chamam a atenção, mas também facilitam a vida de quem usa. Com o tempo, essa base sólida me levou a explorar os territórios mais profundos do Back-End. Hoje, transito com naturalidade entre esses dois mundos, aplicando minha curiosidade e paixão para desenvolver soluções completas. Meu código conecta o visual com o funcional.</p>

                <div class="row mt-3 mb-3">
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush fs-6">
                            <li class="list-group-item fw-semibold">
                              Aniversário: <span class="fw-lighter">23 de fev de 2004</span>
                            </li>
                            <li class="list-group-item fw-semibold">
                              Idade: <span class="fw-lighter">20 anos</span>
                            </li>
                            <li class="list-group-item fw-semibold">
                              Cidade: <span class="fw-lighter">Brasília</span>
                            </li>
                            <li class="list-group-item fw-semibold">
                              Estado: <span class="fw-lighter">Distrito Federal</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush fs-6">
                            <li class="list-group-item fw-semibold">
                              Hobby: <span class="fw-lighter">Catan(jogo de tabuleiro)</span>
                            </li>
                            <li class="list-group-item fw-semibold">
                              Trabalho atual: <span class="fw-lighter">-</span>
                            <li class="list-group-item fw-semibold">
                              Experiência: <span class="fw-lighter">universitário desde 2022</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <p>Quanto mais me aprofundo nos estudos, mais me encanto com a capacidade transformadora da tecnologia. Ela molda nossa comunicação, redefine nosso cotidiano e simplifica inúmeras tarefas diárias. Estou comprometido em explorar e contribuir para esse universo tão vasto, onde a inovação é a norma e as possibilidades são infinitas.</p>

            </div>
        </div>
    </section>

    <section class="mt-5 section-bg" id="habilidades">

        <div class="container pb-5">
            <h2 class='pt-5'data-anime="down">Habilidades</h2>
            <p data-anime="down">Ao longo da minha jornada em estudos e projetos de tecnologia, tive a oportunidade de desenvolver um conjunto de habilidades, tanto técnicas quanto interpessoais. Acredito que estas habilidades, listadas abaixo, representam meu nível atual de conhecimento em cada área, de acordo com a porcentagem que eu acredito ter em cada uma delas.</p>
            <p data-anime="down">Esses números representam meu progresso atual, mas estou constantemente buscando aprimorar minhas habilidades e me manter atualizado com as últimas tendências em tecnologia.</p>

            <div class="row">
                <div class="col-md-6">
                      <p class="mt-3 mb-0">Python</p>
                      <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar bg-success" data-anime="left" style="width: 76%">76%</div>
                      </div>
        
                      <p class="mt-3 mb-0">SQL</p>
                      <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar bg-success" data-anime="left" style="width: 74%">74%</div>
                      </div>

                      <p class="mt-3 mb-0">HTML</p>
                      <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar bg-success" data-anime="left" style="width: 70%">70%</div>
                      </div>
      
                      <p class="mt-3 mb-0">CSS</p>
                      <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar bg-success" data-anime="left" style="width: 69%">69%</div>
                      </div>
      
                      <p class="mt-3 mb-0">JavaScript</p>
                      <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar bg-success" data-anime="left" style="width: 69%">69%</div>
                      </div>

                      <p class="mt-3 mb-0">Java</p>
                      <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar bg-success" data-anime="left" style="width: 30%">30%</div>
                      </div>
                </div>

                <div class="col-md-6">
                      <p class="mt-3 mb-0">Flask</p>
                      <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar bg-success" data-anime="left" style="width: 76%">76%</div>
                      </div>

                      <p class="mt-3 mb-0">Bootstrap</p>
                      <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar bg-success" data-anime="left" style="width: 69%">69%</div>
                      </div>

                      <p class="mt-3 mb-0">Pacote Office 365</p>
                      <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar bg-success" data-anime="left" style="width: 95%">95%</div>
                      </div>

                      <p class="mt-3 mb-0">Power BI</p>
                      <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar bg-success" data-anime="left" style="width: 82%">82%</div>
                      </div>

                      <p class="mt-3 mb-0">Inglês</p>
                      <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar bg-success" data-anime="left" style="width: 93%">93%</div>
                      </div>
                </div>

            </div>

            <hr class='w-50 me-auto ms-auto'>
            
            <div class="row">
                <div class="col-md-6">

                    <p class="mt-3 mb-0">Habilidade analítica</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                      <div class="progress-bar" data-anime="left" style="width: 80%">80%</div>
                    </div>

                    <p class="mt-3 mb-0">Trabalho em Equipe</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" data-anime="left" style="width: 95%">95%</div>
                    </div>
                  
                      <p class="mt-3 mb-0">Comprometimento</p>
                      <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar" data-anime="left" style="width: 100%">100%</div>
                    </div>
                </div>

                <div class="col-md-6">
  
                    <p class="mt-3 mb-0">Capacidade de aprendizado</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" data-anime="left" style="width: 90%">90%</div>
                    </div>
              
                    <p class="mt-3 mb-0">Capacidade de organização</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" data-anime="left" style="width: 93%">93%</div>
                    </div>

                    <p class="mt-3 mb-0">Curiosidade</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" data-anime="left" style="width: 98%">98%</div>
                    </div>
                </div>

            </div>

    </section>

    <section  class="mt-5 cv" id="curriculo">

      <div class="container pb-5">
          <h2 class="pt-3 pb-4">Currículo</h2>

          <div class="row">
              <div class="col-md-6">
                  <h3 class="cv-tittle">Educação</h3>

                  <div class='cv-itens' data-anime="up">
                      <h4>Análise e Desenvolvimento de Sistemas</h4>
                      <p><em>UNINTER(02/2022 - cursando)</em></p>
                      <p>O curso prepara os estudantes para atuar no desenvolvimento e manutenção de sistemas computacionais.
                        Os alunos adquirem conhecimentos sólidos em linguagem de programação, engenharia de software e segurança da informação.
                        Os analistas de sistemas aprendem a desenvolver aplicativos, sistemas web e mobile, além de aprender a usar tecnologias como Python, Java e JavaScript.
                        Disciplinas incluem Lógica de Programação e Algoritmos, Programação Orientada a Objetos, Análise de Sistemas, Fundamentos da Programação Web, Fundamentos do Desenvolvimento Mobile, Computação em Nuvem e Legislação, Ética e Conformidade</p>
                  </div>

                  <div class='cv-itens' data-anime="up">
                    <h4>Power BI (37h)</h4>
                    <p><em>lms.ev.org.br</em></p>
                    <p>A Trilha de Conhecimento Power BI abrange cinco cursos, desde o básico até o avançado. Ela capacita a desempenhar funções essenciais de um analista de dados, preparar e explorar dados com o Power Query, criar modelos de dados eficientes e formatar relatórios. Além disso, ensina a contar histórias impactantes com base em dados usando relatórios do Power BI.
                    </p>
                  </div>

                  <div class='cv-itens' data-anime="up">
                      <h4>Pacote Office 365 (5h)</h4>
                      <p><em>lms.ev.org.br</em></p>
                      <p>O Office 365 é uma coleção de aplicativos da Microsoft que reúne as melhores ferramentas para as pessoas trabalharem de forma colaborativa e produtiva.</p>
                  </div>

              </div>
              <div class="col-md-6">
               <!--  <h3 class="cv-tittle">Profissional</h3>

                      <div class='cv-itens' data-anime="up">
                        <h4>nome empresa</h4>
                        <h5>tempo de serviço</h5>
                        <p><em>Funçao</em></p>
                        <p>descrever atividades</p>  
                     </div> -->

              </div>
          </div>

      </div>

    </section>

    <section class="section-bg mt-5" id="portifolio">
        <div class="container pb-5 pt-5" data-anime="left">

            <h2 class="pb-4">Portifólio</h2>

            <div id="carouselPortifolio" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">

                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="col">
                            <div class="card">
                                <img src="por imagem do projeto" class="card-img-top" alt="imagem do projeto">
                                <div class="card-body">
                                    <h5 class="card-tittle">Titulo do projeto</h5>
                                    <p class="card-text">sobre projeto e linguagens</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="por link site" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                        <a href="por link site" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card">
                                <img src="por imagem do projeto" class="card-img-top" alt="imagem do projeto">
                                <div class="card-body">
                                    <h5 class="card-tittle">Titulo do projeto</h5>
                                    <p class="card-text">sobre projeto e linguagens</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="por link site" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                        <a href="por link site" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                  </div>
                  <div class="carousel-item" data-bs-interval="2000">

                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="col">
                            <div class="card">
                                <img src="por imagem do projeto" class="card-img-top" alt="imagem do projeto">
                                <div class="card-body">
                                    <h5 class="card-tittle">Titulo do projeto</h5>
                                    <p class="card-text">sobre projeto e linguagens</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="por link site" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                        <a href="por link site" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card">
                                <img src="por imagem do projeto" class="card-img-top" alt="imagem do projeto">
                                <div class="card-body">
                                    <h5 class="card-tittle">Titulo do projeto</h5>
                                    <p class="card-text">sobre projeto e linguagens</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="por link site" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                        <a href="por link site" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                  </div>
                </div>
                
               </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortifolio" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPortifolio" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section class="pt-5 pb-5" id="contato">

        <div class="container mb-5">
            <h2 class='pt-3 pb-3'>Contato</h2>
    
            <div class="row">
    
                <div class="col-md-5">
    
                    <div class="card p-5 shadow border-0" data-anime="up">
                        <div class="endereco">
                            <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                            <p>Lago Norte, Brasília-DF</p>
                        </div>
                        <div class="gmail">
                            <h4><i class="bi bi-envelope"></i> Email:</h4>
                            <p>adamkauan04@gmail.com</p>
                        </div>
    
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12916.326463374402!2d-47.855712934328324!3d-15.748661581948964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3bf43f8ff821%3A0x23c9c170c22ea8a7!2sSt.%20de%20Habita%C3%A7%C3%B5es%20Individuais%20Norte%20QI%2012%20-%20Lago%20Norte%2C%20Bras%C3%ADlia%20-%20DF!5e0!3m2!1spt-BR!2sbr!4v1715968738258!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" class='w-100' referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
    
                <div class="col-md-7 mt-5 mt-md-0" data-anime="right">
    
                    <!-- Mensagens Flash -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div class="mb-4">
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
    
                    <div class="card p-5 h-100 shadow border-0">
                        <form class="row g-3" action='/send' method="POST">
                            <div class="col-md-6">
                                <label for="nome" class="form-label">Nome:</label>
                                <input type="text" class="form-control" id="nome" name='nome' placeholder="Digite seu nome" required>
                            </div>
    
                            <div class="col-md-6">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="email" name='email' placeholder="Digite seu email" required>
                            </div>
    
                            <div class="col-12">
                                <label for="mensagem" class="form-label">Mensagem:</label>
                                <textarea type="text" class="form-control" id="mensagem" name='mensagem' rows="10" placeholder="Digite sua mensagem" required></textarea>
                            </div>
    
                            <div class="col-12 d-flex justify-content-center mt-4">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>    
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    </main>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>